@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.text_decoration {
  text-decoration: none;
  color: black;
}

.instagram {
  width: 40px;
}

.twitter {
  width: 40px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: right;
  max-width: 100%;
  font-family: "DM Sans";
}

body {
  background-image: url("../IMAGES/cancha2.jpg");
  background-position: 0;
  background-repeat: inherit;
  background-size: 100%;
  width: 100%;
}

.header {
  display: flex;
  background: linear-gradient(rgba(24, 210, 102, 0.7529411765), rgba(0, 79, 30, 0.8));
  justify-content: space-between;
  width: 100%;
}
.header .nav {
  background: linear-gradient(#15c05c, #036027);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.header .nav .margin {
  margin: 0 150px;
}
.header .nav .container-fluid {
  margin: 0;
}
.header .nav .navbar-brand {
  font-size: 1.4rem;
}
.header .nav .hover:hover {
  color: white;
}
.header .nav .flex {
  display: flex !important;
  justify-content: space-around !important;
}
.header .nav .user_class {
  margin: 40px 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .nav .user_class .user {
  margin: 0;
  font-size: 1.5rem;
}
.header .nav .user_class .view_profile {
  color: black;
  margin-bottom: 2rem;
}
.header .nav .user_class .cerrarsesion {
  background-color: transparent;
  border: none;
}
.header .nav .register {
  margin: 50px;
}
.header .nav .register a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem !important;
  margin: 9px;
}

.main {
  width: 100%;
}
.main .cartas {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.main .cartas .card {
  background: linear-gradient(rgba(24, 210, 102, 0.7529411765), rgba(0, 79, 30, 0.8));
  padding: 2rem;
  margin: 6rem 10px;
  width: 25rem !important;
}
.main .cartas .card .card-text {
  text-align: center;
  color: white;
}
.main .cartas .card .titulo {
  display: flex;
  justify-content: center;
  color: white;
}
.main .cartas .card::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 95%;
  left: 80%;
  z-index: 1;
  background: url("https://cdn.pixabay.com/photo/2012/04/18/15/36/tennis-ball-37359_960_720.png") no-repeat;
  background-size: contain;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}
.main .cartas .card:hover {
  background: linear-gradient(#15c05c, #036027);
}

.comunication .whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.comunication .img-whatsapp {
  width: 5rem;
}

.footer {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(#18d266, #004f1e);
}
.footer .comp {
  margin-right: 15rem;
}
.footer .compaña {
  text-decoration: none;
  list-style: none;
  color: black;
}

.Sing_Up {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Sing_Up .register_page {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid white;
  background: linear-gradient(rgba(24, 210, 102, 0.7529411765), rgba(0, 79, 30, 0.8));
  padding: 1.5rem;
  width: 50%;
  height: 30rem;
}
@media (max-width: 810px) {
  .Sing_Up .register_page {
    width: 90%;
  }
}
.Sing_Up .register_page .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.Sing_Up .register_page .register_page div {
  margin: 3rem;
}
.Sing_Up .register_page .Registrarse {
  font-size: 50px;
  text-align: center;
}
.Sing_Up .register_page .inputs_register {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1rem;
}
.Sing_Up .register_page .inputs_register:focus {
  outline: none;
}
.Sing_Up .register_page .inputs_register::-moz-placeholder {
  color: black;
}
.Sing_Up .register_page .inputs_register::placeholder {
  color: black;
}
.Sing_Up .register_page .error {
  color: rgb(255, 20, 20);
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.Sing_Up .register_page .escondido {
  display: none;
}
.Sing_Up .register_page .forgot_password {
  display: flex;
  cursor: pointer;
}
.Sing_Up .register_page .forgot_password .olvidaste_contraseña {
  justify-content: end;
}
.Sing_Up .register_page .button {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 20px;
}
.Sing_Up .register_page .button .boton_registrarse {
  background-color: rgb(0, 255, 76);
  width: 20rem;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
}
.Sing_Up .register_page .ya_tiene_cuenta {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.Sing_Up .register_page .ya_tiene_cuenta .ya_tiene_cuenta p a {
  color: rgb(0, 255, 76);
}

.main-nosotros {
  display: flex;
  flex-direction: column;
}
.main-nosotros .titulo-sobreNosotros {
  align-items: baseline;
  text-align: center;
  margin-top: 4rem;
}
.main-nosotros .grid-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 0.7fr);
  margin: 0 0 10rem 0;
  grid-gap: 30px;
}
.main-nosotros .grid-cards .grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(24, 210, 102, 0.7529411765), rgba(0, 79, 30, 0.8));
  border: white solid;
  border-radius: 10px;
  padding: 20px;
}

.body_contactanos {
  height: 100vh;
}

.main_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54%;
}
.main_contact .contact-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
  width: 100%;
}
.main_contact .contact-cards .contact-card {
  background: linear-gradient(rgba(24, 210, 102, 0.7529411765), rgba(0, 79, 30, 0.8));
  border: white solid;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 1500px) {
  .register a {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .card {
    width: 35rem;
  }
}
@media (max-width: 1200px) {
  .register a {
    font-size: 1rem;
  }
}
@media (max-width: 990px) {
  .comp {
    margin-right: 7rem;
  }
}
@media (max-width: 810px) {
  .contact-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 500px) {
  .register_page {
    width: 100vh;
  }
  .cartas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
  }
}/*# sourceMappingURL=Main.css.map */