.header {   
    display: flex;
    background: linear-gradient($base-color);
    // #18d266, #004f1e
    justify-content: space-between;
    width: 100%;
    .nav{
        background: linear-gradient($base-color-darker);
        width: 100%;
        height: fit-content;
        .margin{
            margin: 0 150px;
        }
        .container-fluid{
            margin: 0;
        }
        .navbar-brand{
            font-size: 1.4rem;
        }
        
        .hover:hover {
            color: white;
        }

        .flex{
            display: flex !important;
            justify-content:space-around !important;
        }

        .img_logo{
            width: 135px;
            min-width: 135px;
        }

        .margin_collapse{
            margin: 0;
        }

        .user_class{
            margin: 40px 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .user{
                margin: 0;
                font-size: 1.5rem;
            }
            .view_profile{
                color: black;
                margin-bottom: 1rem;
                text-decoration: underline;
                cursor: pointer;
            }
            .cerrarsesion{
                background-color: transparent;
                border: none;

            }
        }

        .register{
            margin: 50px;
        }

        .register a{
            text-decoration: none;
            color: black;
            font-size: 1.4rem !important;
            margin: 9px;
        }
        .register a:hover{
            text-decoration: underline;
        }
    }
}