.Sing_Up{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .register_page{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid white;
        background: linear-gradient(#18d266c0, #004f1ecc);
        padding: 1.5rem;
        width: 50%;
        @media (max-width: 810px){
            width: 90%;
        }
        .sr-only{
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
        }
        .register_page div{
            margin: 3rem;
        }
        .Registrarse{
            font-size: 50px;
            text-align: center;
        }

        .inputs_register{
            width: 97%;
            height: 45px;
            background: transparent;
            border: none;
            border-bottom: 1px solid black;
            font-size: 1rem;
        }
        
        .inputs_register:focus{
            outline: none;
        }
        
        .inputs_register::placeholder{
            color: black;
        }

        .ver_password_div {
            display: flex;
            align-items: center;
        }
        
        .inputs_register {
            flex: 1;
            padding-right: 30px;
        }
        
        .ver_password_div::after {
            content: "";
            background-image: url("../IMAGES/eye-slash-fill.svg") no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            cursor: pointer;
        }

        .error{
            color: rgb(255, 20, 20);
            display: flex;
            justify-content: center;
            font-weight: bold;
        }     

        .forgot_password{
            display: flex;
            cursor: pointer;
            .olvidaste_contraseña{
                justify-content: end;
            }
        }

        .button{
            display: flex;
            justify-content: center;
            height: 40px;
            margin: 20px;
            .boton_registrarse{
                background-color: rgb(0, 255, 76);
                width: 20rem;
                border-radius: 10px;
                border: 2px solid black;
                font-weight: bold;
                font-size: 20px;
            }
            .loader {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: absolute;
                animation: rotate 1s linear infinite
            }
            .loader::before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                inset: 0px;
                border-radius: 50%;
                border: 5px solid black;
                animation: prixClipFix 2s linear infinite ;
            }

            .alquiler_exitoso{
                display: flex;
                justify-content: center;
                font-size: 1.5rem;
                color: rgb(0, 255, 76);
            }

            @keyframes rotate {
                100%   {transform: rotate(360deg)}
            }

            @keyframes prixClipFix {
                    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
                    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
                    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
                    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
                    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
            }            
        }
        .ya_tiene_cuenta{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            .ya_tiene_cuenta p a{
                $text_decoration: text_decoration;
                color: rgb(0, 255, 76);
            }
        }
        .qrcode{
            display: flex !important;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 5px;
            // width: fit-content;
            margin: 0 auto;
        }
    }
}