.title {
  color: rgb(0, 255, 76);
  margin-bottom: 20px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 255, 76);
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}

.custom-input:focus {
  outline: none;
  border-color: rgb(0, 255, 76);
  box-shadow: 0 0 5px rgba(0, 255, 76, 0.5);
}

.container {
  margin-top: 20px;
  text-align: center;
}

.horas{
  width: 100%;
  height: 100px;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 20px;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
  display: none;
  }
  .horas_time{
    position: relative;
    width: 80px;
    min-width: 80px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -1rem;
      height: 1px;
      background-color: black;
      width: 1rem;
      transform: translateY(-50%);
    }
    .horarios{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
  .ocupado{
    background-color: red;
  }
  .libre{
    background-color: rgb(0, 255, 76);
  }
  .seleccionada{
    background-color: rgb(92, 92, 219);
  }
}

.cant_horas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  .p_cuantas_horas{
    font-size: 2rem;
  }
  .cant_horarios{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .horarios_time{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
      .cantidad_horas_jugar{
        margin: 0;
      }
      &.ocupado{
        background-color: red;
      }
      &.libre{
        background-color: rgb(0, 255, 76);
      }
      &.seleccionada{
        background-color: rgb(92, 92, 219);
      }
    }
  }
}